@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
}


:root {
    /* font-family: 'Inter', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
    --primary-color: RGB(255, 87, 64);
    --text-color: RGB(3, 21, 33);
    --sub-text-color: RGB(107, 107, 132);
    --bg-color: #fafafa;
    --bg-box: #f3f3f3;
    --nav: #fff;
    --border-color: rgb(182, 178, 178);
    --box-shadow: 0 2px 28px 0 rgb(0, 0, 0, 0.09);
    --bg-box-faq: #f3f3f3c4;
    --feeback-color: RGB(107, 107, 132);
    --transition: 0.5s;
}

.dark {
    --bg-color: #000000;
    --bg-box: #0e0e0e;
    --text-color: #ffffff;
    --sub-text-color: #cfcfcf;
    --nav: #141718;
    --border-color: rgb(77, 75, 75);
    --box-shadow: 0 2px 28px 0  rgb(255, 255, 255, 0.01);
    --message-text-bg: rgba(160, 159, 161, 0.1);
    --bg-box-faq: #000000;
    --feeback-color: #ffffff;
    --transition: 0.5s;

}

html,
body {
    width: 100%;
    height: 100%;
    margin: auto;
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
    
}


body {
    background-color: var(--bg-color);
 
    overflow-x: hidden;
}




::selection {
    background-color: var(--primary-color);
    color: #ffffff;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-thumb {
    background-color: #727170;
    border-radius: 5px;
}

::-webkit-scrollbar-track {
    background-color: #f0f0f0;
}

a {
    text-decoration: none;
    color: var(--text-color);
}

/*============================================ Navbar======================================= */
.nav {
   
    margin: auto;
    width: 100%;
    background-color: var(--bg-color);
    top: 0;
    z-index: 5;
    transition: var(--transition);
    

}
.sticky-nav{
    position: fixed;
    box-shadow: var(--box-shadow);
  
}

section, .nav-content, .hero, .links-footers{ 
    width: 85%;
    margin: auto;
    max-width: 1320px;
    padding-top: 4.5em;
}
.grey-section {
    width: 100%;
    margin: auto;
    background-color: var(--bg-box) !important;
 


}

.menu-toolbar-mobile,
.menu-popup {
    display: none;
}

.nav-content {
    align-items: center;
    padding: 1em;
    width: calc(85% - 2em);
    margin: auto;
    position: relative;

}

.logo-text{
    font-size: 2.2em;
    font-weight: 700;
    color: var(--text-color);
}

.links a {
    transition: var(--transition);
}

.links a:hover {
    color: var(--primary-color);
}

.social-icons {
    color: var(--text-color);
    display: flex;
    padding: 0.7em;
    border-radius: 2.5em;
    border: 0.5px solid var(--border-color);
    align-items: center;
    transition: var(--transition);
    cursor: pointer;
}

.social-icons:hover {
    background-color: var(--primary-color);
    color: #ffffff;
}

.mobile-view-menu-icon {

    border-radius: 1em;
    display: flex;
    align-items: center;
    background-color: var(--bg-box);
    padding: 0.7em;
    cursor: pointer;

}

.mobile-view-menu-icon svg {
    color: var(--text-color);

}
.mobile-view-menu-icon svg:hover{
    color: var(--primary-color);
}

/* test================================== */



.dropdown-menu {
    padding-left: 1em;
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 1em;
    top: 60px;
    width: 250px;
    height: 0;
    background: var(--bg-box);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    /* display: none; */
    z-index: 99;
    box-shadow: var(--box-shadow);
    transition: var(--transition);
}

.dropdown-menu li {
    padding: 0.7rem;
    display: flex;
    align-items: start;
    justify-content: start;
    font-weight: 600;
}

.dropdown-menu a:hover {
    color: var(--primary-color);
}

.dropdown-menu .highlight {
    width: 80%;
    display: flex;
    justify-content: center;
}

.dropdown-menu.open {
    height: 375px;
    width: calc(100% - 2em);
    max-width: 100%;
    left: 0;
    right: 0;

}

.links-mob {
    display: flex;
    align-items: center;
    color: var(--text-color);
    gap: 1em;
}

.social-icons-mob {
    display: flex;
    align-items: center;
    padding: 0.8em;
    border: 0.1px solid var(--sub-text-color);
    border-radius: 5em;
}

.social-icons-mob:hover {
    color: var(--primary-color);

}

/* test================================== */





@media screen and (max-width: 1024px) {
    .social-icons {
        display: none !important;
    }

    .links {
        display: none !important;
    }

    .mobile-view-menu-icon {
        display: flex !important;
    }
}


/* ======hero===== */
.container {
    width: 100%;
    margin: auto;
    height: 100%;
    background-color: var(--bg-box);
    align-items: center;


}

.hero {
    display: flex;
    align-items: center;
    padding: 4em 0em;
    height: 85%;
    width: calc(85% - 8em);
    margin: auto;
    justify-content: space-between;

}

.left {
    display: flex;
    gap: 2em;
    flex: 1;
    margin: auto;
    color: var(--text-color)
}

.right {
    flex: 1;
    height: auto;
    margin: auto;
    display: flex;
    align-items: end;
    justify-content: end;

}

.right img {
    max-width: 80%;
    height: auto;
}

.sub-text {
    color: var(--sub-text-color);
    font-weight: 500;
}

.button {
    width: 10em;
    font-weight: 500;
    border-radius: 2em;
    display: flex;
    justify-content: center;
    white-space: nowrap;
    color: #ffffff;
    padding: 1em 0.5em;
    background-color: var(--primary-color);
    cursor: pointer;
    transition: var(--transition);


}

.button:hover {
    scale: 1.1;
}

@media screen and (max-width: 986px) {
    .hero {
        flex-direction: column;
        text-align: center;
        justify-content: center;
    }

    .left {
        justify-content: center;

    }


    .left h1 {
        font-size: 3.5em !important;
    }

    .btn {
        display: flex;
        justify-content: center;
    }

    .right {
        justify-content: center;
    }

}

@media screen and (max-width: 768px) {


    .hero {

        width: 90%;
        padding: 1.5em 0em;
    }

    .left {
        margin-top: 2em;
    }

    .logo-text{
        font-size: 1.5em;
    }

    .left h1 {
        font-size: 2.5em !important;
    }

    .left .sub-text {
        font-size: 0.9em !important;
    }
}

/* ======main========== */


/* .product-feature {
    padding-top: 4.3em;
    width: 85%;
    margin: auto;



} */

.section-title {
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 1em;
}

.title-1 {
    color: var(--text-color);
    font-stretch: 100%;
    font-size: 2.8em;
    font-weight: 700;
}

.title-2 {
    color: var(--sub-text-color);
    max-width: 50%;
    font-size: 1em;
    font-weight: 400;
}

.card-container {
    width: 85%;
    margin: auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 4em;
    gap: 1em;
    padding-bottom: 4.5em;
}

.card-row-1 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
}

.cards {

    background-color: var(--bg-box);
    padding: 2em;
    border-radius: 0.5em;
    display: flex;
    flex-direction: column;
    gap: 1em;
    align-items: center;
    justify-content: center;
    transition: var(--transition);
    overflow: hidden;
    cursor: pointer;
    color: var(--text-color);
}

.cards:hover {
    color: #ffffff;
    transform: translateY(-1em);
    border-radius: 0.5em;

}

.cards::before {
    width: 0%;
    transform: translate(-50%, -50%);
    content: "";
    z-index: -1;
    position: absolute;
    height: 100%;
    top: 50%;
    left: 50%;
    background-color: var(--primary-color);
    transition: var(--transition);


}

.cards:hover::before {
    width: 100%;
    /* Adjust the width to control the expansion */
    height: 100%;
    /* Adjust the height to control the expansion */
}

.c-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: RGB(255, 255, 255);
    border-radius: 2em;
    padding: 1em;

}

.cards svg {
    color: var(--primary-color);
}

.card-text {

    font-size: 1.25em;
    font-weight: 700;
}


.cards p {
    line-height: 1.6;
    color: var(--sub-text-color);

}

.c2-cards {
    display: flex;
    gap: 1em;
}


/* Media query for medium-sized screens */
@media screen and (max-width: 1024px) {
    .card-row-1 {
        flex-direction: column;
    }

    .title-1 {
        font-size: 1.875em;
    }

    .title-2 {
        max-width: 100%;
        font-size: 0.938em;
        line-height: 1.6em;
    }
}

@media screen and (max-width: 768px) {
    .c2-cards {
        flex-direction: column;
    }

    .card-container,
    .product-feature {
        width: 95%;
        margin: auto;
        padding-bottom: 2em;
    }

}

/* about the product page */
.about-the-product {
    display: flex;
    align-items: flex-start;
    padding-bottom: 4.5em;
    justify-content: space-between;
}

.about-left {
    display: flex;
    flex-direction: column;
    gap: 2em;
    flex: 1;
}

.about-headings .title-2 {
    line-height: 1.3em;
    max-width: 80%;
}

.about-right {
    display: flex;
    align-items: center;
    justify-content: end;
    flex: 1
}

.about-headings {
    display: flex;
    flex-direction: column;
    gap: 1em;

}

.about-right img {
    max-width: 90%;
    height: auto;
}

.abouts-feature-list {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.list-cont svg {
    color: var(--primary-color);
}

.list-cont {
    color: var(--text-color);
    display: flex;
    align-items: center;
    gap: 0.5em;
}

@media screen and (max-width: 990px) {
    .about-the-product {
        flex-direction: column;
        gap: 2.5em;
        align-items: center;
    }

    .about-the-product {

        width: 90%;
        margin: auto;
    }

    .about-right {
        /* align-items: center; */
        justify-content: center;
    }
}

/* ====why choose product==== */

.why-choose-products-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}



.why-choose-headings {
   
    display: flex;
    flex-direction: column;
    gap: 1em;
    text-align: center;
    align-items: center;
    justify-content: center;

}

.why-choose-headings .title-2 {
    line-height: 1.5em;

}

.why-choose-bottom {
    display: flex;
    align-items: center;
    padding-bottom: 4.3em;
}

.why-left {
    flex: 1;
}

.why-left img {
    max-width: 70%;
    height: auto;
}

.why-right {
    flex: 1;
    padding-top: 2em;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.cards-first {
    display: flex;
    gap: 1em;
}

.cards-first .cards {
    background-color: var(--bg-color);
    align-items: start;
    transition: var(--transition);

}

.cards-first .cards:first-child {
    margin-top: 2em;
}

.cards-first .cards:last-child {
    margin-bottom: 2em;
}



@media screen and (max-width: 990px) {
    .why-choose-bottom {
        padding-top: 2em;
        flex-direction: column;
        align-items: center;
    }

    .cards-first .cards:first-child {
        margin-top: 0em;
    }

    .cards-first .cards:last-child {
        margin-bottom: 0em;
    }

    .why-choose-products-container {
        width: 100%;
        margin: auto;
    }

}

@media screen and (max-width: 768px) {
    .cards-first {
        flex-direction: column;
    }

    .why-left img {
        max-width: 100%;
    }
}

.our-latest-product {
    padding-top: 4.5em;
   
}

.products-lists {
    width: 100%;
    padding-top: 4.5em;
    display: flex;
    flex-direction: column;
    gap: 2em;
    padding-bottom: 4.5em;
}

.product-row-1 {
    width: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1em;

}

.products {
    width: 439.99px;
    height: 524.39px;
    display: flex;
    flex-direction: column;
    gap: 1em;
    color: var(--text-color);
}

.price-start {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.product-name {
    font-size: 1.375em;
    font-weight: 700;
}

.price-start .stars {
    color: RGB(244, 159, 11);
}

.price-start span {
    text-decoration: line-through;
    color: RGB(153, 153, 153);
}

.image-product {

    overflow: hidden;
    cursor: pointer;
    transition: var(--transition);

}

.image-product img {
    width: 100%;
    height: 100%;
    transition: var(--transition);

}

.image-product:hover img {
    scale: 1.1;
}

@media screen and (max-width: 768px) {
    .product-row-1 {
        flex-direction: column;
    }

    .products {
        width: 390px;
        height: 496px;
    }

    .our-latest-product {

        width: 90%;
    }

}

/*============== download app=================== */


.download-app-today,.subscribe-content {
  
    padding-bottom: 4.5em;
    display: flex;
    justify-content: space-between;
}


.download-left,.subscribe-left {
    display: flex;
    align-items: center;
    justify-content: start;
    flex: 1;
}

.download-right,.subscribe-right {
    display: flex;
    flex-direction: column;
    gap: 1.5em;
    flex: 1;
}

.subscribe-right  p , .download-right p{
    color: var(--text-color);
    line-height: 1.5em;
}

.google-appstore {

    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 1em;
}

.google-appstore img {
    max-width: 30%;
    height: auto;
    transition: var(--transition);


}

.google-appstore img:hover {
    scale: 1.1;
}

@media screen and (max-width: 990px) {
    .download-app-today,.subscribe-content  {
        flex-direction: column;
        align-items: center;
        gap: 2em;
        justify-content: center;
        text-align: center;
    }

    .download-right .title-1 {

        font-size: 1.875em;
    }

    .download-left {
        justify-content: center;
    }

    .google-appstore {

        justify-content: center;
    }

    .download-left img,.subscribe-left img {

        max-width: 90%;
        height: auto;
        
    }
    .subscribe{
        width: 90%;
        margin: auto;

    }

}

/*=== video container=== */
.video-container {
    padding-top: 4.5em;
    padding-bottom: 4.5em;
    width: 100%;

}

.video-content::before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    z-index: -1;
    width: 100%;
    background: rgb(0, 0, 0, 0.1);
    opacity: 0.6;
}

.video-content {
   
    text-align: center;
    background-image: url(https://templates.hibootstrap.com/zebu/default/assets/img/video-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 12em;
    padding-bottom: 12em;
    position: relative;
    background-attachment: fixed;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1em;


}

.video-content .title-1 {
    color: #ffffff;


}

.play-button {

    display: flex;
    align-self: center;
    padding: 1em;
    background-color: #ffffff;
    border-radius: 3em;
    transition: var(--transition);

    cursor: pointer;

}

.play-button:hover {
    background-color: var(--primary-color);
    color: #ffffff;
}



@media screen and (max-width: 990px) {
    .video-content {
       width: 95%;
       margin: auto;
        padding-top: 6em;
        padding-bottom: 6em;

    }

    .video-content::before {
        height: 100%;
    }
}

/* ==============asked-question-container======= */
.asked-content {
    
    padding-bottom: 4.5em;
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.asked-bottom-element {
    padding-top: 1em;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.question-box {

    display: flex;
    flex-direction: column;

    align-items: center;
    color: var(--text-color);
    



}

.question-wraper,
.ans { 
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid var(--sub-text-color);
    background-color: var(--bg-box-faq);
    padding: 1.5em;
    width: calc(100% - 3em);
    border-radius: 2px;
    cursor: pointer;
    transition: all 0.5s ease;
}

.ans {
    width: calc(100% - 3em);
    border-top: none;
   
}
.ans {
    display: none;
}

.question {
    font-size: 1.25em;
    font-weight: 600;

}

.question-wraper:hover {
    color: var(--primary-color);
}

.question-box.active .ans {
    display: flex;

  
}

.customer-feedback {
    padding-bottom: 4.5em;
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.r-wraper {
    width: 100%;
    display: flex;
    color: var(--sub-text-color);
}

.single-feedback p {
    font-style: italic;
    font-weight: 400;
    text-align: center;
    font-size: 1.5em;
    line-height: 2em;
    color: var(--feeback-color);
}

.single-feedback {
    width: 100%;
}

.reviews-feedback {
    overflow: hidden;
}

.single-feedback {
    display: flex;
    flex-direction: column;
    gap: 1em;
    align-items: center;
}

.single-feedback .title {
    display: flex;
    flex-direction: column;
    gap: 1em;
    align-items: center;
}

.single-feedback .title h3 {
    font-weight: 600;
    color: var(--text-color);
}

.single-feedback .title span {
    color: var(--primary-color);
}

.single-feedback img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.swiper-button-prev,
.swiper-button-next {
    cursor: pointer;
    color: var(--text-color);
    background-color: none;
}

.swiper-button-prev {
    left: -1em;
    top: 4.5em;
}

.swiper-button-next {
    right: -1em;
    top: 4.5em;
}

@media screen and (max-width: 990px) {
    .single-feedback p {

        font-size: 1.2em;
        line-height: 1.5em;
        color: var(--feeback-color);
    }
}

.user-gallery {
    padding-top: 4.5em;
    padding-bottom: 4.5em;
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.gallery-cards {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.gallery-cards-row {
    width: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1em;
}

.gallery-image {
    position: relative;
    overflow: hidden;
    text-align: center;
    cursor: pointer;
}

.gallery-image img {
    width: 415px;
    height: 346px;
    transition: var(--transition);

}

.gallery-image img:hover {
    scale: 1.1;
    transform: rotate(5deg);


}

.gallery-image .gallery-text {
    background-color: var(--bg-color);
    position: absolute;
    bottom: 5%;
    left: 10px;
    right: 10px;
    padding: 30px 15px;
    z-index: 1;
    opacity: 0;
    visibility: hidden;
    transition: var(--transition);

    transition: opacity 1s, visibility 1s;
}

.gallery-text span {
    color: var(--primary-color);
}

.gallery-text h3 {
    font-size: 1.5em;
    font-weight: 700;
    color: var(--text-color);
}

.gallery-image .gallery-text::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
}


.gallery-image:hover .gallery-text {
    /* Show text on hover */
    opacity: 1;
    visibility: visible;
}

@media screen and (max-width: 860px) {
    .gallery-cards-row {
        flex-direction: column;
    }

}

@media screen and (max-width: 768px) {
    .gallery-image img {
        width: 388px;
        height: 323px;
    }
}

/* =====our blog===== */



.our-blog-content {
   
    padding-bottom: 4.5em;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;
}

.blog-cards-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
}

.blog-cards {
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 1em;
    width: 415px;
    height: 550px;
    background-color: var(--bg-color);
    cursor: pointer;
    transition: var(--transition);


}

.blog-cards:hover {
    scale: 1.01;
    box-shadow: var(--box-shadow);
}

.blogger-name {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.blogger-details {
    padding-left: 1em;
    padding-right: 1em;
    display: flex;
    flex-direction: column;

    gap: 1em;
    color: var(--text-color);
}

.blogger-details p {
    line-height: 1.5em;
}

.post-detail {
    font-size: 1.5em;
    font-weight: 700;
}

.blogger-name img {
    width: 35px;
    height: 35px;
    border-radius: 50%;
}

.img-name,
.date-added {
    display: flex;
    align-items: center;
    gap: 0.5em;
}

.img-name p {
    font-size: 0.9em;
    font-weight: 600;
    color: var(--text-color);
}

.date-added svg {
    color: var(--primary-color);
}

.date-added p {
    color: var(--text-color);
}

@media screen and (max-width: 1500px) {
    .blog-cards {
        width: 388px;
        height: 505.31px;
    }

}

@media screen and (max-width: 1500px) {
    .blog-cards-container {
        flex-wrap: wrap;
        gap: 2em;
    }
}



.subscribe .download-left img {
    max-width: 100%;
}

hr{
    border: 1px solid var(--bg-box)
}

.mail-detail {

    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 0.5px solid var(--primary-color);
    padding: 0.3em;
    border-radius: 5px;
}

.mail-detail input {
    padding-left: 1em;
    height: 100%;
    width: calc(100% - 2em);
    background: none;
    outline: none;
    border: none;
    font-size: 1em;
    color: var(--text-color);
}

.subscribe-btn {
    white-space: nowrap;
    padding: 1em;

    padding-left: 1.5em;
    padding-right: 1.5em;
    background-color: var(--primary-color);
    color: #ffffff;
    border-radius: 2px;
    cursor: pointer;
    font-weight: 500;
}

@media screen and (max-width: 768px) {
    .subscribe-btn {
        padding-left: 1em;
        padding-right: 1em;
        font-size: 0.8em;
    }
}

.get-in-touch {
    
    padding-bottom: 4.5em;
  
}

.get-in-touch-bottom {
    width: 100%;
    margin: auto;
    display: flex;
    align-items: center;
}

.get-in-touch-left {
    flex: 1;
}

.get-in-touch-left img {
    max-width: 100%;
}

.contact-forms {
    padding-top: 0.5em;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    flex: 1;
}

.name-email {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1em;
}

.name-email input {
    background: none;
    border: none;
    padding: 1.2em;
    width: calc(100% - 2.4em);
    border: 0.1px solid var(--sub-text-color);
    font-size: 1em;
    color: var(--text-color);
    font-weight: 300;
    border-radius: 5px;
}

.contact-forms input,
.contact-forms textarea {
    padding: 1.2em;
    width: calc(100% - 2.4em);
    background: none;
    border: none;
    border: 0.5px solid var(--sub-text-color);
    font-size: 1em;
    color: var(--text-color);
    font-weight: 300;
    transition: var(--transition);

    border-radius: 5px;
}

.contact-forms input {
    outline: none;
}

.contact-forms textarea[name="message"] {
    font-size: 1em;
    color: var(--text-color);
    font-weight: 450;
    font-family: 'Montserrat', sans-serif;

}

.contact-forms input:focus {
    border: 0.5px solid var(--primary-color);
}

.contact-forms textarea:focus {
    outline: none;
    border: 0.5px solid var(--primary-color);
}
.submit-btn{
    background-color: var(--primary-color);
    padding: 12px 45px;
    border-radius: 2em;
    color: #ffffff;
    font-size: 1em;
    align-self: start;
    transition: var(--transition);
    cursor: pointer;
}
.submit-btn:hover{
    scale: 1.1;
}

.contact-forms textarea::placeholder {
    font-size: 1em;
    font-family: 'Montserrat', sans-serif;
}

@media screen and (max-width: 1200px) {
    .get-in-touch-bottom {
        flex-direction: column;
        gap: 2em;
    }
}

@media screen and (max-width: 768px) {
    .name-email {
        flex-direction: column;
    }

    .get-in-touch {
        width: 95%;
    }
}

/* =====footer===== */

.footer-container {
   
    padding-bottom: 2.5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;
}



.footer .section-title .title-2 {

    font-weight: 500;
}

.footer .section-title span {
    font-size: 1.1em;
    font-weight: 700;
}

.footer-content {

    display: flex;
    justify-content: space-between;
    gap: 1em;
}

.footer-column {

    display: flex;
    flex-direction: column;
    gap: 1em;
    flex: 1;
    color: var(--text-color);
}

.company-logo {
    display: flex;
    align-items: center;
    gap: 0.2em;
}

.company-logo p,
.text-4 {
    font-size: 1.2em;
    font-weight: 700;
}

.text-4 {
    max-width: 80%;
}

.company-logo img {
    width: 35px;
    height: 35px;
}

.social-links-company {
    display: flex;
    align-items: center;
    gap: 1.5em;
}

.footer-column p {
    cursor: pointer;
    font-weight: 500;
}

.footer-column p:hover {
    text-decoration: underline;
}

.btn-f {
    cursor: pointer;
    padding: 1em 2em;
    display: flex;
    align-items: center;
    gap: 0.5em;
    color: #ffffff;
    background-color: var(--primary-color);
    border-radius: 2em;


}

.btn-f svg {

    color: rgb(255, 253, 255);
}

@media screen and (max-width: 768px) {

    .footer-content {
        flex-direction: column;
        gap: 2em;
        
    }

    .btn-f {
        cursor: pointer;
        padding: 1em 1em;
    }
}


.links-footers {
 
    display: flex;
    color: var(--sub-text-color);
    font-size: 0.7em;
    gap: 1em;
    flex-wrap: wrap;
}

